.skrit{
    visibility: hidden;
}
.krasota{
    color: brown;
    background-color: cadetblue;
    visibility: visible;
    vertical-align: middle;
    margin-left: 30%;
    margin-right: 30%;
    align-content: center;
    align-items: center;
}
.stilchik{
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    margin: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    cursor: help;

}
.telo{
    margin-left: 10%;
    margin-right: 10%;
    cursor: help;
}